---
import Image from "astro/components/Image.astro";
import Layout from "../../layouts/Layout.astro";
import megaloblastosPng from "@/assets/megaloblastos.png";
import HeaderCards from "@/components/UI/HeaderCards.astro";

// const user = Astro.locals.user;
---

<Layout title="Servicios CEM - Megaloblastos">
  <HeaderCards text1="Bienvenidos a" text2="Servicios CEM" />

  <section class="max-w-2xl mx-auto">
    <!-- <p class="text-lg text-neutral-600 dark:text-neutral-400 max-w-2xl mx-auto">
      Accede a los servicios exclusivos para estudiantes de medicina de la
      UAGRM.
      {
        !user && (
          <span class="block mt-2 text-amber-600 font-bold">
            Inicia sesión para acceder a todas las funcionalidades.
          </span>
        )
      }
    </p> -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 max-w-5xl mx-auto mt-8">
      <!-- Card Alquiler Batas -->
      <a
        href="servicios-cem/alquiler-de-batas"
        class="fade-up-target flex-auto w-full bg-white dark:bg-neutral-800 rounded-md shadow-lg pb-8 pt-24 px-10 hover:scale-105 transition-transform duration-500 group"
      >
        <Image
          class="w-[5.7rem] h-[5.7rem] object-cover mx-auto"
          src={megaloblastosPng}
          alt="Icono primer año"
          width={300}
          height={300}
        />
        <h3
          class="text-neutral-600 dark:text-neutral-300 font-bold text-xl text-nowrap text-center pt-1 text-ellipsis overflow-hidden capitalize"
        >
          Alquiler de batas
        </h3>
      </a>
      <!-- Card Sala Estudio -->
      <a
        href="servicios-cem/sala-de-estudio"
        class="fade-up-target flex-auto w-full bg-white dark:bg-neutral-800 rounded-md shadow-lg pb-8 pt-24 px-10 hover:scale-105 transition-transform duration-500 group"
      >
        <Image
          class="w-[5.7rem] h-[5.7rem] object-cover mx-auto"
          src={megaloblastosPng}
          alt="Icono primer año"
          width={300}
          height={300}
        />
        <h3
          class="text-neutral-600 dark:text-neutral-300 font-bold text-xl text-nowrap text-center pt-1 text-ellipsis overflow-hidden capitalize"
        >
          Sala de estudio
        </h3>
      </a>
    </div>
  </section>
</Layout>
